@import "bulma";
body{
  .react-grid-layout{border:1px solid #000;min-height: 200px;margin-top:10px;}
  .react-grid-item{background: #d6caca;border:1px solid #000}
  .ant-row{margin-bottom:0}
  .content ul{margin-left:0}
  .row{margin-bottom:10px;}
  .label60{width:60px; display: inline-block;text-align: right;padding-right:10px; }
}